.fa-lg {
    font-size: 1em;
    line-height: .75em;
    vertical-align: -15%;
}
#logo img {
    width: 150px;
    height: auto;
    padding-left: 3px;
}
#header{
    background-image: linear-gradient(to bottom,#f5f2e9,#e4e1da);
}
#project-context>:first-child, .project-context>:first-child {
    color: #8d8f63;
}
#project-selector, .project-selector {
    color: #7f7e11;
}
.smart-style-1 .btn-header>:first-child>a {
    background: #393922;
    border: 1px solid #a0a07d;
}
.page-title {
    margin: 10px 0 10px;
}
.alert {
    margin-bottom: 2px;
}
.btn-default {
    color: #333;
    background-color: #d8dbd1;
    border-color: #4e5823;
}

/*
Loading
*/

.containerload {
    height: 150px;
    text-align: center;
}

.circle {
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    transform: scale(0);
    animation: bulge 2s infinite ease-in-out;
}

.circle::after {
    position: absolute;
    display: inline-block;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1);
    animation: blow 2s infinite ease-in-out;
}

.circle:nth-child(1) {
    background-color: #4695B8;
    animation-delay: 0s;
}

.circle:nth-child(2) {
    background-color: #67A142;
    animation-delay: .25s;
}

.circle:nth-child(3) {
    background-color: #8FC0A7;
    animation-delay: .50s;
}


@keyframes bulge {
    50% {
        transform: scale(1);
    }
}


@keyframes blow {
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.smart-style-3 #header {
    background-image: linear-gradient(to bottom,#f69542,#3b2004);
}

.smart-style-3 .project-context>:first-child{
    color: #000000;
    text-shadow: #000000 0 0px;
    font-size: 11px;
}
.btn-lightGreen {
    color: #fff;
    background-color: #71843f;
    border-color: #d6cfc0;
}