.fa-lg {
    font-size: 1em;
    line-height: .75em;
    vertical-align: -15%;
}
#logo img {
    width: 150px;
    height: auto;
    padding-left: 3px;
}
#header{
    background-image: linear-gradient(to bottom,#f5f2e9,#e4e1da);
}
#project-context>:first-child, .project-context>:first-child {
    color: #8d8f63;
}
#project-selector, .project-selector {
    color: #9d552e;
}
.smart-style-1 .btn-header>:first-child>a {
    background: #393922;
    border: 1px solid #a0a07d;
}
.page-title {
    margin: 10px 0 10px;
}
.alert {
    margin-bottom: 2px;
}
.btn-default {
    color: #333;
    background-color: #d8dbd1;
    border-color: #4e5823;
}